body{
    margin-left:5%;
    margin-right:5%;
}
h3{
    color: maroon;
}
#update{
    display:none;
}
.table{
    margin-left: 10%;
    margin-right: 10%;
    width: 5%;
        
}
    table td{
    border-bottom: 1px solid grey;
    padding: 10px;
}
table tr:nth-child(even){
background-color:red;
}
table td:hover{
    background-color:yellow;
}
input{
    width: 300px;
    height: 30px;
    border: 1px solid blue;
}
table td button{
    width: 70px;
    height:40px;
    background-color: lightyellow;
    color: black;
    
}